#receipt-form { 
    padding: 20px;
}

.receipt-form-data {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 170px auto;
}

.receipt-payment-info {
    padding: 30px;
    margin-top: 20px;
}

.receipt-payment-info-text {
    display: grid;
    grid-template-columns: 170px auto;
}